@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#root {
  @apply w-full h-full;
}

.full {
  @apply min-w-full min-h-full;
}

.bold-drop-shadow {
  box-shadow: 10px 10px 0px 10px black, -10px -10px 0px 10px slategray;
}

.semitransparent {
  background-color: #f4f6f8b2;
  backdrop-filter: blur(50px);
}

.semitransparent-light {
  background-color: #f4f6f8b2;
  backdrop-filter: blur(5px);
}

.bg-triangle {
  background-image: url("/src/assets/backgrounds/parabolic-triangle-4.svg");
  background-size: 260%;
  background-position: center;
  background-attachment: fixed;
}

.bg-home {
  background-image: url("/src/assets/backgrounds/endless-constellation-2.svg");
  background-position: center;
  background-attachment: fixed;
}

.page-width {
  @apply max-w-[2000px] lg:w-11/12 m-auto
}